@charset "utf-8";

/* Resets */

/* Box Sizing Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Img reset */
img {
    max-width: 100%;
    height: auto;
}
/* page body setting */
p {
    line-height: 1.2;
    font-size: 1em;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}
.wrapper {
    max-width: 1000px;
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}

.top-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: "logo btn"
                         "nav  nav";
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.top-bar h1 {
    grid-area: logo;
    margin: 0;
    margin-left: 20px;
}
.btn-menu {
    grid-area: btn;
    justify-self: end;
    margin-right: 20px;
    font-weight: bold;
}

.top-bar nav {
    grid-area: nav;
    display: none;
}

header a {
    text-decoration: none;
    color: white;
}

.show .top-bar nav {
    display: block;
}

.top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.top-bar nav a {
    padding-left: 20px;
    line-height: 50px;
    font-size: 1.2em;
    display: block;
    transition: background-color 0.5s ease;
}
.top-bar nav a:hover,
.top-bar nav a:active,
.top-bar nav a:focus {
    background-color: rgba(255,255,255, 0.3);
}

/* movie cards Home*/
.card {
    margin: 10px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* max-width: 310px; */
    
    padding: 30px;
    background-color: rgb(29, 29, 29);
}
.posterImage {
    max-width: 550px;
    margin: 0 auto;
}
.movieInfo {
    /* min-height: 300px; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* margin-left: 10px; */
    margin: 0 auto;
    max-width: 550px; 
}

/* Detail Page */
.detail-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    /* margin: 0 auto; */
    background-color: rgb(29, 29, 29);
}
.detail{
    
    display: flex;
}
.posterImageDetail{
    /* margin: 0 auto; */
    max-width: 450px;
    
}
.movieInfoDetail{
    /* margin: 10px auto 0 auto; */
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin-left: 10px;
    max-width: 450px;
}
.detail img {
    /* max-width: 300px; */
    /* align-items: flex-start; */
    /* display: flex; */
}
.posterImageDetail button {
    margin: 20px 0 0 30px;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(201, 147, 156);
    color: rgb(49, 49, 49);
    border: none;
}



/* Desktop size */



@media screen and (min-width: 850px){
    .card {
        max-width: 400px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    }
    @media screen and (min-width: 1000px){
        .card {
            max-width: 310px;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        }